In [4]:
import pandas as pd 
import numpy as  np

In [5]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier 

from sklearn.metrics import accuracy_score 

from sklearn.compose import ColumnTransformer

In [8]:
df =pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [9]:
df.dropna(inplace = True)

In [10]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [11]:
df['family'] = df['SibSp'] + df['Parch']

In [12]:
df.head()

    Age     Fare  SibSp  Parch  Survived  family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [14]:
df.drop(columns=['SibSp','Parch'],inplace = True )

In [15]:
df.head()

    Age     Fare  Survived  family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [16]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [22]:
x_train.head(2)

      Age     Fare  family
328  31.0  20.5250       2
73   26.0  14.4542       1

In [23]:
x_test.head(2)

      Age   Fare  family
149  42.0  13.00       0
407   3.0  18.75       2

In [20]:
y_train

328    1
73     0
253    0
719    0
666    0
      ..
92     0
134    0
337    1
548    0
130    0
Name: Survived, Length: 571, dtype: int64

In [21]:
y_test

149    0
407    1
53     1
369    1
818    0
      ..
819    0
164    0
363    0
56     1
136    1
Name: Survived, Length: 143, dtype: int64

In [28]:
# making the without binarization 
clf = DecisionTreeClassifier()

clf.fit(x_train,y_train)

y_pred =  clf.predict(x_test)

accuracy_score(y_test,y_pred)

0.6363636363636364

In [30]:
np.mean(cross_val_score(DecisionTreeClassifier(),x,y,cv =10,scoring ='accuracy'))

0.6456768388106415

In [31]:
from sklearn.preprocessing import Binarizer

In [32]:
trf = ColumnTransformer ([
    ('bin',Binarizer(copy = False),['family'])
],remainder = 'passthrough')

In [33]:
x_train_trf = trf.fit_transform(x_train)
x_test_trf = trf.transform(x_test)

In [34]:
pd.DataFrame(x_train_trf,columns = ['family','Age','Fare'])

     family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [37]:
clf = DecisionTreeClassifier()
clf.fit(x_train_trf,y_train)

y_pred = clf.predict(x_test)

accuracy_score(y_test,y_pred)

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

0.6223776223776224

In [39]:
np.mean(cross_val_score(DecisionTreeClassifier(),x,y,cv =10,scoring ='accuracy'))

0.6443075117370892