# here using the columnstransform

In [2]:
import numpy as np
import pandas as pd
import mysql.connector
from sklearn.preprocessing import SimpleImputer

In [ ]:
conn = mysql.connector.connect(host = 'localhost',user = 'root',password = '',database = 'world')

In [ ]:
df = pd.read_sql_query("SELECT * FROM country",conn)